# SPDX-FileCopyrightText: None
#
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/linux-qt6.yml
      - /gitlab-templates/freebsd-qt6.yml
      - /gitlab-templates/reuse-lint.yml
      - /gitlab-templates/documentation.yml

.template: &debian
  variables:
    DEBIAN_FRONTEND: noninteractive
    QT_QPA_PLATFORM: offscreen
    LANG: C.UTF-8
  interruptible: true
  tags:
    - Linux

build:debian-testing:
  stage: build
  image: "debian:testing"
  <<: *debian
  before_script:
    - >-
      apt-get -qq update && apt-get install -y eatmydata && eatmydata apt-get install -y --no-install-recommends curl git make cmake extra-cmake-modules gettext g++ gcc pkg-config pkg-kde-tools libkf6coreaddons-dev libkf6doctools-dev libkf6i18n-dev libkf6xmlgui-dev libkf6configwidgets-dev libkf6crash-dev libkexiv2qt6-dev libmarble-dev qt6-5compat-dev
  script:
    - mkdir build && cd $_ && cmake -DBUILD_WITH_QT6=ON .. && make -j$(nproc)
    - make install
