<?xml version="1.0" encoding="UTF-8"?>

<!-- SPDX-FileCopyrightText: none

     SPDX-License-Identifier: CC0-1.0
-->

<gui name="kgeotag"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="file">
      <Action name="addFiles"/>
      <Action name="addDirectory"/>
      <Menu name="remove">
        <text>Remove</text>
        <Action name="removeProcessedSavedImages"/>
        <Action name="removeImagesLoadedTagged"/>
        <Action name="removeAllImages"/>
        <Separator/>
        <Action name="removeAllTracks"/>
        <Separator/>
        <Action name="removeEverything"/>
      </Menu>
      <Separator/>
      <Action name="searchMatches"/>
      <Menu name="selection">
        <text>Current selection</text>
        <Action name="assignToMapCenter"/>
      </Menu>
      <Separator/>
      <Action name="saveChanges"/>
      <Separator/>
    </Menu>
    <Menu name="settings">
      <Action name="setDefaultDockArrangement"/>
      <Separator/>
    </Menu>
  </MenuBar>
</gui>
