# SPDX-FileCopyrightText: none
#
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=KGeoTag
Name[ca]=KGeoTag
Name[ca@valencia]=KGeoTag
Name[cs]=KGeoTag
Name[de]=KGeoTag
Name[en_GB]=KGeoTag
Name[es]=KGeoTag
Name[fi]=KGeoTag
Name[fr]=KGeoTag
Name[it]=KGeoTag
Name[ko]=KGeoTag
Name[nl]=KGeoTag
Name[nn]=KGeoTag
Name[pa]=ਕੇ-ਜੀਓ-ਟੈਗ
Name[pl]=KGeoTag
Name[pt]=KGeoTag
Name[pt_BR]=KGeoTag
Name[ru]=KGeoTag
Name[sk]=KGeoTag
Name[sl]=KGeoTag
Name[sv]=Kgeotag
Name[uk]=KGeoTag
Name[x-test]=xxKGeoTagxx
Name[zh_CN]=KGeoTag
GenericName=Photo geotagging program
GenericName[ca]=Programa de geoetiquetatge de fotografies
GenericName[ca@valencia]=Programa de geoetiquetatge de fotografies
GenericName[de]=Anwendung zum Geotaggen von Fotos
GenericName[en_GB]=Photo geotagging program
GenericName[es]=Programa para geoetiquetado de fotos
GenericName[fi]=Valokuvien sijaintitunnisteiden muokkaus
GenericName[fr]=Programme pour photos géolocalisées
GenericName[it]=Programma di geotagging delle foto
GenericName[ko]=사진 지오태그 프로그램
GenericName[nl]=Fotoprogramma voor geven van geotags
GenericName[nn]=Geografisk stadfesting av foto
GenericName[pa]=ਫ਼ੋਟੋ ਜੀਓਟੈਗ ਲਗਾਉਣ ਵਾਲਾ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do geooznaczania zdjęć
GenericName[pt]=Programa de marcação geográfica de fotografias
GenericName[pt_BR]=Programa para marcar geograficamente fotos
GenericName[ru]=Приложение для управления геометками в фотографиях
GenericName[sk]=Program na geotagovanie fotiek
GenericName[sl]=Program za geokodiranje fotografij
GenericName[sv]=Program för geografisk lokalisering av foton
GenericName[uk]=Програма для роботи з геомітками фотографій
GenericName[x-test]=xxPhoto geotagging programxx
GenericName[zh_CN]=照片地理标签管理程序
Type=Application
Icon=kgeotag
Exec=kgeotag
Terminal=false
Categories=Qt;KDE;Graphics;Photography;
X-KDE-StartupNotify=true
