# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=KGeoTag
Name[ca]=KGeoTag
Name[ca@valencia]=KGeoTag
Name[es]=KGeoTag
Name[fr]=KGeoTag
Name[nl]=KGeoTag
Name[nn]=KGeoTag
Name[pt]=KGeoTag
Name[sk]=KGeoTag
Name[sl]=KGeoTag
Name[sv]=Kgeotag
Name[uk]=KGeoTag
Name[x-test]=xxKGeoTagxx
GenericName=Photo geotagging program
GenericName[ca]=Programa de geoetiquetatge de fotografies
GenericName[ca@valencia]=Programa de geoetiquetatge de fotos
GenericName[es]=Programa para geoetiquetado de fotos
GenericName[fr]=Programme pour photos géolocalisées
GenericName[nl]=Fotoprogramma voor geven van geotags
GenericName[nn]=Geografisk stadfesting av foto
GenericName[pt]=Programa de marcação geográfica de fotografias
GenericName[sk]=Program na geotagovanie fotiek
GenericName[sl]=Program za geokodiranje fotografij
GenericName[sv]=Program för geografisk lokalisering av foton
GenericName[uk]=Програма для роботи з геомітками фотографій
GenericName[x-test]=xxPhoto geotagging programxx
Type=Application
Icon=kgeotag
Exec=kgeotag
Terminal=false
Categories=Qt;KDE;Graphics;Photography;
X-KDE-StartupNotify=true
